#pakt_quiz{
  list-style-type: none;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.5vw;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#pakt_quiz *{
  box-sizing: border-box;
}

#pakt_quiz input{
  display: none;
}

#pakt_quiz label{
  font-size: 1.3vw;
  display: block;
  padding: 10px;
  cursor: pointer;
  border: 1.5px solid black;
  font-weight: bold;
}

#pakt_quiz input:checked + label{
  background-color: #4DABB2;
  color: white;
}

#pakt_quiz .pakt-quiz-question{
  background-color: white;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  position: absolute;
  /*top: 9999px;*/
  transition: top .5s;
}

#pakt_quiz .pakt-quiz-question-prompt-container,
#pakt_quiz .pakt-quiz-question-response-container{
  padding: 1vw;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#pakt_quiz .pakt-quiz-question-prompt-container{
  flex-grow: 1;
  background-color: #A5A4A2;
}

#pakt_quiz .pakt-quiz-question-prompt{
  font-size: 2vw;
  text-align: center;
  display: block;
  padding: 4vw 8vw;
}

#pakt_quiz .pakt-quiz-question-image-container{
  height: 100%;
  padding: 10%;
}

#pakt_quiz .pakt-quiz-question-image{
  width: 100%;
  margin-top: 15%;
  height: 90%;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

#pakt_quiz .pakt-quiz-question-type-scale > p{
  display: inline-block;
  width: 20%;
  padding: 1.5%;
}

#pakt_quiz .pakt-quiz-question-type-scale > p > label{
  width: 100%;
  padding: 50%;
  display: inline-block;
  position: relative;
}

#pakt_quiz .pakt-quiz-question-type-scale > p > label > span{
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin-top: -.5em;
  text-align: center;
}

#pakt_quiz .pakt-quiz-button-previous,
#pakt_quiz .pakt-quiz-button-grade,
#pakt_quiz .pakt-quiz-button-next{
  width: 5vw;
  height: 5vw;
  margin: 0 auto;
  text-indent: -100000px;
  cursor: pointer;
}

#pakt_quiz .pakt-quiz-button-grade,
#pakt_quiz .pakt-quiz-button-next{
  visibility: hidden;
}

#pakt_quiz .pakt-quiz-button-grade.pakt-quiz-visible,
#pakt_quiz .pakt-quiz-button-next.pakt-quiz-visible{
  visibility: visible;
}

#pakt_quiz .pakt-quiz-button-previous{
  width: 6vw;
  height: 6vw;
  background: url(images/previous_button.svg) center center no-repeat;
}

#pakt_quiz .pakt-quiz-button-next,
#pakt_quiz .pakt-quiz-button-grade{
  background: url(images/next_button.svg) center center no-repeat;
}

#pakt_quiz .pakt-quiz-question-choices{
  padding: 0 20% 0 20%;
}

#pakt_quiz .pakt-quiz-question-prompt-container{
  background-color: #F5F2EB;
}

#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-hands,
#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-additives,
#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-iced,
#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-travel,
#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-rain,
#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-cupping,
#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-elephant{
  background-color: #A5A4A2;
}

#pakt_quiz #pakt_quiz_results{
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
}

#pakt_quiz #pakt_quiz_results .pakt-quiz-result{
  display: flex;
  height: 100%;
}

#pakt_quiz #pakt_quiz_results .pakt-quiz-results-badge-container,
#pakt_quiz #pakt_quiz_results .pakt-quiz-results-description-container{
  width: 50%;
}

#pakt_quiz #pakt_quiz_results .pakt-quiz-results-badge-container{
  background-color: #F5F2EB;
  padding: 10%;
  display: flex;
}

#pakt_quiz #pakt_quiz_results .pakt-quiz-results-badge-container img{
  width: 100%;
}

#pakt_quiz #pakt_quiz_results .pakt-quiz-results-description-container{
  padding: 5% 14% 0 14%;
}

#pakt_quiz #pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-results-level-title{
  line-height: 1.3em;
  font-size: 2vw;
  color: #4DABB2;
}

#pakt_quiz #pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-results-description{
  line-height: 1.3em;
}

#pakt_quiz #pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-results-share-title{
  line-height: 1.3em;
  font-size: 1.8vw;
  color: #4DABB2;
}

#pakt_quiz .pakt-quiz-social-links{
  text-align: center;
}

#pakt_quiz .pakt-quiz-social-links .pakt-quiz-facebook-share,
#pakt_quiz .pakt-quiz-social-links .pakt-quiz-twitter-share{
  display: inline-block;
  height: 3vw;
  width: 3vw;
  background-size: cover;
  text-indent: -100000px;
}

#pakt_quiz .pakt-quiz-social-links .pakt-quiz-facebook-share{
  background: url(images/facebook.svg) center center no-repeat;
}

#pakt_quiz .pakt-quiz-social-links .pakt-quiz-twitter-share{
  background: url(images/twitter.svg) center center no-repeat;
}

/* mobile */

@media only screen and (max-width : 1024px) {
  #pakt_quiz .pakt-quiz-question{
    flex-direction: column;
    height: auto;
  }

  #pakt_quiz .pakt-quiz-question-prompt-container,
  #pakt_quiz .pakt-quiz-question-response-container{
    width: 100%;
  }

  #pakt_quiz .pakt-quiz-question-image-container{
    /* min-height: 50vh;*/
    padding: 0;
  }

  #pakt_quiz .pakt-quiz-question-image{
    max-width: 75%;
  }

  #pakt_quiz .pakt-quiz-question-choices{
    padding: 1vw;
  }

  #pakt_quiz label{
    font-size: 4vw;
  }

  #pakt_quiz .pakt-quiz-button-grade{
    width: 15vw;
    height: 15vw;
    margin-bottom: 5vw;
  }

  #pakt_quiz .pakt-quiz-question-prompt{
    font-size: 6vw;
    line-height: 1.3em;
  }

  #pakt_quiz #pakt_quiz_results .pakt-quiz-result{
    height: 100%; /* make it a good size for screenshots */
    flex-direction: column;
  }

  #pakt_quiz #pakt_quiz_results .pakt-quiz-results-badge-container, #pakt_quiz #pakt_quiz_results .pakt-quiz-results-description-container{
    width: 100%;
    height: 50%;
  }

  #pakt_quiz #pakt_quiz_results .pakt-quiz-results-description-container{
    padding: 0% 3%;
  }

  #pakt_quiz #pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-results-level-title{
    font-size: 5vw;
  }

  #pakt_quiz #pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-results-description{
    font-size: 2.5vw;
  }

  #pakt_quiz #pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-results-share-title{
    font-size: 4vw;
  }

  #pakt_quiz .pakt-quiz-social-links .pakt-quiz-facebook-share, #pakt_quiz .pakt-quiz-social-links .pakt-quiz-twitter-share{
    width: 6vw;
    height: 6vw;
  }
}
