body{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.pakt-quiz-container{
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  overflow-y: scroll;
}

#pakt_quiz{
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.5vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#pakt_quiz *{
  box-sizing: border-box;
}

#pakt_quiz input{
  display: none;
}

#pakt_quiz label{
  font-size: .8em;
  display: block;
  padding: .2em .5em;
  cursor: pointer;
  border: 1.5px solid black;
  font-weight: bold;
}

#pakt_quiz input:checked + label{
  background-color: #4DABB2;
  color: white;
}

#pakt_quiz .pakt-quiz-question{
  background-color: white;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  position: absolute;
  /*top: 9999px;*/
  transition: top .5s;
}

#pakt_quiz .pakt-quiz-question-prompt-container,
#pakt_quiz .pakt-quiz-question-response-container{
  padding: 1em;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#pakt_quiz .pakt-quiz-question-response-container{
  padding: 3em 1em;
}

#pakt_quiz .pakt-quiz-question-prompt-container{
  flex-grow: 1;
  background-color: #A5A4A2;
}

#pakt_quiz .pakt-quiz-question-prompt{
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: center;
  display: block;
  padding: 4vw 8vw;
}

#pakt_quiz .pakt-quiz-question-image-container{
  height: 100%;
  padding: 0%;
}

#pakt_quiz .pakt-quiz-question-image{
  width: 100%;
  margin-top: 15%;
  height: 90%;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

#pakt_quiz .pakt-quiz-question-type-scale > p{
  display: inline-block;
  width: 20%;
  padding: 1.5%;
}

#pakt_quiz .pakt-quiz-question-type-scale > p > label{
  width: 100%;
  padding: 50%;
  display: inline-block;
  position: relative;
}

#pakt_quiz .pakt-quiz-question-type-scale > p > label > span{
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin-top: -.7em;
  text-align: center;
}

#pakt_quiz .pakt-quiz-button-previous,
#pakt_quiz .pakt-quiz-button-grade,
#pakt_quiz .pakt-quiz-button-next{
  width: 5vw;
  height: 5vw;
  margin: 0 auto;
  text-indent: -100000px;
  cursor: pointer;
}

#pakt_quiz .pakt-quiz-button-grade,
#pakt_quiz .pakt-quiz-button-next{
  visibility: hidden;
}

#pakt_quiz .pakt-quiz-button-grade.pakt-quiz-visible,
#pakt_quiz .pakt-quiz-button-next.pakt-quiz-visible{
  visibility: visible;
}

#pakt_quiz .pakt-quiz-button-previous{
  width: 6vw;
  height: 6vw;
}

#pakt_quiz .pakt-quiz-button-previous,
#pakt_quiz .pakt-quiz-button-next,
#pakt_quiz .pakt-quiz-button-grade{
  background: none center center no-repeat;
}

#pakt_quiz .pakt-quiz-question-choices{
  padding: 0 20% 0 20%;
}

#pakt_quiz .pakt-quiz-question-choices p{
  margin-bottom: .5em;
}

#pakt_quiz .pakt-quiz-question-prompt-container{
  background-color: #F5F2EB;
}

#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-hands,
#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-additives,
#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-iced,
#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-travel,
#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-rain,
#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-cupping,
#pakt_quiz .pakt-quiz-question-prompt-container.pakt-quiz-image-elephant{
  background-color: #A5A4A2;
}

#pakt_quiz_results{
  position: static;
  background-color: white;
  height: auto;
  width: 100%;
}

#pakt_quiz_results .pakt-quiz-result{
  display: flex;
  height: auto;
  overflow-y: scroll;
  font-size: 1.2em;
}

#pakt_quiz_results .pakt-quiz-results-badge-container,
#pakt_quiz_results .pakt-quiz-results-description-container{
  text-align: center;
  width: 50%;
}

#pakt_quiz_results .pakt-quiz-results-badge-container{
  background-color: #F5F2EB;
  padding: 5%;
  display: flex;
}

#pakt_quiz_results .pakt-quiz-results-badge-container img{
  width: 100%;
}

#pakt_quiz_results .pakt-quiz-results-description-container{
  padding: 9%;
  font-size: .8em;
}

#pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-button-previous{
  display: none;
}

#pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-results-level-title{
  line-height: 1.3em;
  font-size: 1.5em;
  margin-bottom: .8em;
  margin-top: .5em;
  padding-top: .8em;
  display: inline-block;
  color: #4DABB2;
  border-top: 1px solid #4DABB2;
}

#pakt_quiz_results .pakt-quiz-results-estimate-title{
  font-size: 1.5em;
}

#pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-results-description{
  line-height: 1.3em;
  margin: 0;
}

#pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-results-share-title{
  line-height: 1.3em;
  font-size: 1.5em;
  color: #4DABB2;
  margin: .5em 0;
}

.pakt-quiz-social-links{
  text-align: center;
}

.pakt-quiz-social-links .pakt-quiz-facebook-share,
.pakt-quiz-social-links .pakt-quiz-twitter-share,
.pakt-quiz-social-links .pakt-quiz-text-share,
.pakt-quiz-social-links .pakt-quiz-email-share{
  display: inline-block;
  height: 2em;
  width: 2em;
  background-size: cover;
  text-indent: -100000px;
  margin: 0 1vw;
  background: none center center no-repeat;
}

.pakt-quiz-social-links .pakt-quiz-email-share{
  background-size: contain;
}

.pakt-quiz-newsletter{
  background-color: black;
  padding-top: 2em;
  color: white;
  line-height: 1em;
}

.pakt-quiz-newsletter input{
  display: inline-block;
  display: inline-block;
  font-size: .7em;
  padding: .6em 1.5em;
  font-weight: bold;
  box-shadow: none;
  border: none;
}

.pakt-quiz-newsletter form{
  width: 40%;
  margin: 0 auto;
  margin-top: 3em;
  min-width: 550px;
}

.pakt-quiz-newsletter form{
  width: 40%;
  margin: 0 auto;
  min-width: 550px;
}

.pakt-quiz-newsletter .mc-field-group{
  display: inline-block;
  width: 60%;
  margin-right: 5%;
}

.pakt-quiz-newsletter input.email{
  width: 100%;
}

.pakt-quiz-newsletter input.button{
  display: inline-block;
  width: 35%;
  background: none;
  background-color: #4DABB2;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

#pakt_quiz #mce-responses{
  display: block;
  margin-top: 1em;
  font-size: 1em;
  text-align: center;
}

.pakt-quiz-newsletter .pakt-newsletter-blurb{
  font-size: .7em;
  margin-bottom: 1em;
  text-align: center;
}

.pakt-quiz-newsletter .pakt-newsletter-blurb img{
  height: 18%;
  max-width: 130px;
  margin-bottom: .5em;
}

.pakt-quiz-newsletter .pakt-newsletter-blurb h3{
  font-size: 1.5em;
  margin-bottom: .5em;
  color: #4DABB2;
}

.pakt-quiz-container .pakt-quiz-waiting-container{
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.pakt-quiz-container .pakt-quiz-waiting-image{
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 15%;
  right: 15%;
  background: url() center center no-repeat;
  background-size: contain;
}

.pakt-quiz-container .pakt-quiz-waiting-text{
  position: absolute;
  bottom: 0%;
  font-family: sans-serif;
  font-size: 1.5em;
  left: 0;
  right: 0;
  text-align: center;
}

.pakt-quiz-hidden{
  display: none;
}

/* mobile */

@media only screen and (max-width : 1024px) {
  body{
    position: static;
    height: auto;
    overflow: scroll;
  }

  .pakt-quiz-container{
    margin: 0;
    position: static;
    height: auto;
  }

  #pakt_quiz .pakt-quiz-question{
    height: auto;
    position: static;
    flex-direction: column;
  }

  #pakt_quiz{
    position: static;
    overflow: scroll;
    width: 100%;
  }

  #pakt_quiz .pakt-quiz-button-previous,
  #pakt_quiz .pakt-quiz-button-next{
    display: none;
  }

  #pakt_quiz .pakt-quiz-question-prompt-container,
  #pakt_quiz .pakt-quiz-question-response-container{
    width: 100%;
  }

  #pakt_quiz .pakt-quiz-question-image-container{
    padding: 0;
    min-height: 50%;
  }

  #pakt_quiz .pakt-quiz-question-image{
    max-width: 75%;
    max-height: 55vw;
    height: 59vh;
  }

  #pakt_quiz .pakt-quiz-question-choices{
    padding: 1em;
  }

  #pakt_quiz label{
    font-size: 2em;
  }

  #pakt_quiz .pakt-quiz-button-grade{
    width: 15vw;
    height: 15vw;
    margin-bottom: 5vw;
  }

  #pakt_quiz .pakt-quiz-question-prompt{
    font-size: 3em;
    line-height: 1.3em;
  }

  #pakt_quiz_results .pakt-quiz-result{
    height: auto;
    flex-direction: column;
  }

  #pakt_quiz_results .pakt-quiz-results-badge-container,
  #pakt_quiz_results .pakt-quiz-results-description-container{
    width: 100%;
    overflow: visible;
  }

  #pakt_quiz_results .pakt-quiz-results-description-container{
    padding: 3%;
  }

  #pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-results-level-title,
    #pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-results-share-title{
    font-size: 1.5em;
  }

  #pakt_quiz_results .pakt-quiz-results-description-container .pakt-quiz-results-description{
    font-size: 1em;
  }

  .pakt-quiz-social-links .pakt-quiz-facebook-share,
  .pakt-quiz-social-links .pakt-quiz-twitter-share,
  .pakt-quiz-social-links .pakt-quiz-text-share,
  .pakt-quiz-social-links .pakt-quiz-email-share{
    width: 6vw;
    height: 6vw;
  }

  .pakt-quiz-newsletter{
    height: auto;
    line-height: 2.5vh;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  #pakt_quiz_results .pakt-quiz-results-description-container{
    font-size: 2em;
  }

  .pakt-quiz-newsletter input{
    font-size: 1.5em;
  }

  .pakt-quiz-newsletter .pakt-newsletter-blurb{
    font-size: 1.5em;
  }

  .pakt-quiz-newsletter .pakt-newsletter-blurb img{
    height: auto;
  }

  .pakt-quiz-newsletter form{
    min-width: 0;
    width: auto;
  }

  #pakt_quiz_results{
    font-size: .4em;
  }

  #pakt_quiz .pakt-quiz-question-type-scale > p > label > span{
    font-size: 1.3em;
  }

  #pakt_quiz_results .pakt-quiz-results-badge-container{
    max-height: 36vh;
    min-height: 53vh;
  }
}
